*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
html{
    font-size: 65.2%;
}
.container{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.btn{
    background: none;
    border: .1rem solid #273c75;
    padding: 2rem 5rem;
    margin-bottom: 2rem;
    font-size: 2rem;
    text-transform: uppercase;
    position: relative;
    transition: all .5s ease;
    border-radius: 5rem;
    overflow: hidden;
    color: #273c75;
}
.btn:hover{
    color: #fff;
}
.btn::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #273c75;
    z-index: -1;
    transform-origin: 0 0;
    transition-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    transition: .5s ease;
    border-radius: 5rem;
}
.btn1::before{
    transform: scaleX(0);
}
.btn2::before{
    transform: scaleY(0);
}
.btn1:hover::before{
     transform: scaleX(1);
}
.btn2:hover::before{
    transform: scaleY(1);
}
